.wrapperfeel {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.popupCard {
  height: fit-content;
  width: 180px;
  box-shadow: var(--shadow);
  position: fixed;
  bottom: 120px;
  right: 18px;
  display: flex;
  justify-content: flex-start;
  z-index: 9900;
  background: var(--feelcircle);
  flex-direction: column;
  border-radius: 5px;
  
}
.popupCard li {
  cursor: pointer;
  padding: 8px 10px;
  width: 100% !important;
  display: block;
  color: var(--feeltext);
}
.popupCard span {
  margin: 0 10px;
}
.popupCard li:hover {
  background: var(--feelhover);
}

.popupCard .fa-caret-down {
  font-size: 35px;
  position: absolute;
  right: 20px;
  bottom: -20px;
  color: var(--feelcircle);
  box-shadow: var(--shadow);
}
