.mebbCont {
  width: 85%;
  margin: 20px auto;
}
.mebbCont .mbmHeading {
  font-size: var(--headingsize);
  font-family: var(--headingfamily);
  color: var(--headingcolor);
}
.mebbCont .memCardCon {
  margin: 30px 0;
  border-radius: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.memCardCon .memcard {
  min-height: auto;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--cardborder);
  padding: 15px;
  background: var(--cardbg);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.memcard:hover {
  background: var(--browsebg);
  transform: translateY(-8px);
  cursor: pointer;
}
.memcard .memDesc {
  color: var(--headingcolor);
  font-size: 15px;
  text-align: center;
}
.memcard .memName {
  font-size: 20px;
  color: var(--headingcolor);
  padding: 10px 0;
}
.memcard img {
  height: 50px;
  width: 50px;
  transition: 0.5s ease-in-out;
}
.memcard:hover img {
  transform: translateY(-10px);
}
.memcard .buttonGrp {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.memcard .buttonGrp .button {
  flex: 1;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .memCardCon .memcard {
    width: 100%;
  }
  .mebbCont .memCardCon {
    justify-content: center;
  }
}
