.mainWrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.header {
  width: 100%;
  font-family: var(--headingfamily);
  font-weight: 500;
  display: flex;
  align-items: center;
  background: #0f4d6c;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
}
.header h4 {
  display: block;
  text-align: center;
}
.news {
  margin: 0 10px;
  width: 240px;
  display: flex;
}

.mainTitle {
  background: #fff;
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 10px auto;
  height: 120px;
  width: 400px;
}
