.ShowDataholder {
  width: 90%;
  margin: 20px auto 50px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.smallIndi {
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: capitalize;
  color: var(--headingcolor);
}

.error {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 50px auto;
  color: var(--headingcolor);
}

.exceptWrapper {
  width: 90%;
  margin: 50px auto;
}
.holder {
  margin: 20px 0;
  border-radius: 5px;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* background: var(--browsebg); */
}
.exceptWrapper span {
  font-size: var(--headingsize);
  font-family: var(--headingfamily);
  text-transform: capitalize;
  color: var(--headingcolor);
}

@media screen and (max-width: 869px) {
  /* .holder {
    justify-content: center;
  }
  .ShowDataholder {
    justify-content: center;
  } */
}
@media screen and (max-width: 780px) {
  /* .ShowDataholder {
    width: 95%;
  } */
}
#exceptWrapper {
  background: transparent !important;
}
