.show_heading {
  width: 90%;
  margin: 40px auto;
}
.show_heading span {
  font-size: 18px;
  text-transform: capitalize;
}
.categories__ {
  width: 100%;
  display: grid;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 30px auto;
  grid-gap: 20px;
  justify-content: center;
}
.dltHolder {
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-radius: 10px;
}

.img_con__:hover .dltHolder {
  visibility: visible;
  color: #fff;
}
.fa-trash-alt:hover {
  color: rgba(255, 0, 0, 0.7);
}
.img_con__ {
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: right;
  cursor: pointer;
}
.title__imgs {
  color: var(--headingcolor);
}
.header_btn_grp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slide-container {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  z-index: 100000;
}
.slide-container img {
  height: 500px;
  object-fit: contain;
}
