@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.searchWrapper {
  width: 80%;
  margin: 10px auto;
}

.mainWrapper {
  margin: 50px auto;
  width: 90%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.seemore {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding-bottom: 20px;
}
.seemore span {
  cursor: pointer;
  color: var(--seeallcolor);
}

@media screen and (max-width: 940px) {
  .mainWrapper {
    justify-content: center !important;
  }
}

/* search box*/

#search_form_3 {
  background: var(--notificationbg); 
  /* background: #e1e1e1;  */
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 17px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3);
}

.search_3 {
  /* background: #fafafa; */
  border: 0;
  border-bottom: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin: 4px;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
}

.search_3:focus {
  outline: none;
  background: #fff;
}

/*** SEARCH BUTTON ***/
.submit_3 {
  background: #0f4d6c;

  border: 0;
  color: #eee;
  cursor: pointer;
  /* float: right; */
  font: 16px "Raleway", sans-serif;
  font-weight: bold;
  height: 35px;
  margin: 4px 4px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  width: 84px;
  outline: none;
  border-radius: 30px;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(0, 0, 0, 0.4);
}

.submit_3:hover {
  transform: scale(1.1);
}
